<!DOCTYPE html>
<html lang="en-us">

  {% include head.html %}
    <style>
      .img-container {
        text-align: center;
      }
    </style>

  <body>


    <!-- Wrap is the content to shift when toggling the sidebar. We wrap the
         content to avoid any CSS collisions with our real content. -->
    <div class="wrap">
      <div class="masthead">
        <div class="container">
          <div class="img-container"> <!-- Block parent element -->
            <p class="aligncenter">
            <img src="https://theexitstrategy.github.io/imgs/logo.png" alt="centered image" />
            </p>
          </div>
          <h2 class="masthead-title">
            <a href="{{ site.baseurl }}/" title="Home">{{ site.title }}</a>
            <small>{{ site.tagline }}</small>
          </h2>
        </div>
      </div>

      <div class="container content">
        {{ content }}
      </div>

  </body>
</html>
